@import "styles.css";

.ql-toolbar.ql-snow {
  padding: 0 var(--quill-padding-x);
}

.ql-editor.ql-blank {
  padding-left: var(--quill-padding-x);
  padding-right: var(--quill-padding-x);
}

.ql-editor.ql-blank::before {
  padding-left: 0px;
  padding-right: 0px;
  left: var(--quill-padding-x);
  right: var(--quill-padding-x);
}
.ql-container:focus-within {
  border-top-color: blue;
  border-left-color: blue;
  border-right-color: blue;
}

.ql-toolbar.ql-snow:focus-within {
}

/* Quill Overrides (see js/quill/quill.snow.js) */
.ql-editor {
  font-size: 18px;
  min-height: 8rem;
  /* font-size: 16px; Set your desired font size */
}

#new-snippet-form button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* remove padding at top of editor */
.ql-editor p:first-child {
  padding-top: 0px;
}
/* 
here you set what paragraph spacing you want.
DO NOT USE MARGIN INSIDE OF EDITOR OR IT WILL ADD NEWLINES:
https://github.com/quilljs/quill/issues/1157
*/
.ql-editor p,
.ql-editor ul,
.ql-editor ol {
  padding-top: 12px;
}
.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
  padding-top: 16px;
}
