@import "simple.min.css";

body {
  width: 600px; /* Adjusted width */
  padding: 10px;
}

:root {
  --standard-border-radius: 6px;
  --bg: #fffefc; /* the background */
  --accent: #c2eabd; /* button colour */
  --accent: #fffbd9; /* button colour */
  --accent: #011936; /* button colour */
  --text: #011936; /* text colour */
  /* --border: blue; */
  --base-font-size: 16px;
  --image-button-font-size: 1.4rem;
  --quill-padding-x: 8px;
}

#form-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.snippet-form-element {
  margin-bottom: 0.4rem;
}

.d-none {
  display: none;
}

.button-outline {
  color: var(--text);
  background-color: transparent;
}
